@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

a {
    text-decoration: none;
}

.container {
    max-width: 920px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block
}